**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
**/node_modules
**/dist
**/.terraform
**/*.tfstate
**/*.tfplan
**/.git
.github
ui/.vite
app/tests
**/*.md
!README.md
